# Convenções de formatação compartilhadas pelo time.
# Documentação: https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cs,csx}]
indent_size = 4

# Diretivas using fora do namespace e ordenadas com System primeiro.
csharp_using_directive_placement = outside_namespace:warning
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning

# Clareza acima de brevidade.
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_readonly_field = true:warning
csharp_prefer_braces = true:warning
csharp_style_var_when_type_is_apparent = true:suggestion

[*.{csproj,props,targets,config,xml}]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.sql]
indent_size = 4

[Makefile]
indent_style = tab
